<template name="projectItem">
    <td  class='table table-bordered table-striped'>{{project_id}}</td>
    <td  class='table table-bordered table-striped'>{{project_name}}</td>
    <td  class='table table-bordered table-striped'>{{project_description}}</td>
    <td  class='table table-bordered table-striped'>{{processing_initial_paperwork}}</td>
    <td  class='table table-bordered table-striped'>{{architectural_HOA_review}}</td>
    <td  class='table table-bordered table-striped'>{{filing_notice_of_commencement}}</td>
    <td  class='table table-bordered table-striped'>{{in_Engineering}}</td>
    <td  class='table table-bordered table-striped'>{{requesting_permits}}</td>
    <td  class='table table-bordered table-striped'>{{construction_start_date_being_scheduled}}</td>
    <td  class='table table-bordered table-striped'>{{construction_ongoing}}</td>
    <td  class='table table-bordered table-striped'>{{waiting_for_inspection}}</td>
    <td  class='table table-bordered table-striped'>{{construction_delayed}}</td>
    <td  class='table table-bordered table-striped'>{{construction_completed}}</td>
    <td  class='table table-bordered table-striped'>{{project_status}}</td>
    <td  class='table table-bordered table-striped'><a href="{{pathFor 'projectPage'}}" class="review btn btn-default">Review</a></td>
    <td  class='table table-bordered table-striped'><button class="delete">&times;</button></td>
</template>
