<template name="projectItem">
  <!-- <div class="container">
    <div class="container">
      <h3><a href="{{url}}">{{project_name}}</a></h3>
      <h4><span>{{project_id}}</span></h4>
      <p>{{project_description}}</p>
    </div> -->
    <td  class='table table-bordered '>{{project_id}}</td>
    <td  class='table table-bordered '>{{project_name}}</td>
    <td  class='table table-bordered '>{{project_description}}</td>
    <td  class='table table-bordered '>{{processing_initial_paperwork}}</td>
    <td  class='table table-bordered '>{{architectural_HOA_review}}</td>
    <td  class='table table-bordered '>{{filing_notice_of_commencement}}</td>
    <td  class='table table-bordered '>{{in_Engineering}}</td>
    <td  class='table table-bordered '>{{requesting_permits}}</td>
    <td  class='table table-bordered '>{{construction_start_date_being_scheduled}}</td>
    <td  class='table table-bordered '>{{construction_ongoing}}</td>
    <td  class='table table-bordered '>{{waiting_for_inspection}}</td>
    <td  class='table table-bordered '>{{construction_delayed}}</td>
    <td  class='table table-bordered '>{{construction_completed}}</td>
    <td  class='table table-bordered '>{{project_status}}</td>
    <td  class='table table-bordered '><a href="{{pathFor 'projectPage'}}" class="review btn btn-default">Review</a></td>
    <td  class='table table-bordered '><button class="delete">&times;</button></td>
  <!-- </div> -->
</template>
