<template name="projectTable">
    <tr class='table table-bordered table-striped'>
      <td class='table table-bordered table-striped'>Project ID</td>
      <td class='table table-bordered table-striped'>Project Name</td>
      <td class='table table-bordered table-striped'>Project Description</td>
      <td class='table table-bordered table-striped'>Processing Initial Paperwork</td>
      <td class='table table-bordered table-striped'>Architectural HOA Review</td>
      <td class='table table-bordered table-striped'>Filing Notice of Commencement</td>
      <td class='table table-bordered table-striped'>In Engineering</td>
      <td class='table table-bordered table-striped'>Requesting Permits</td>
      <td class='table table-bordered table-striped'>Construction Start Date Being Scheduled</td>
      <td class='table table-bordered table-striped'>Construction Ongoing</td>
      <td class='table table-bordered table-striped'>Waiting For Inspection</td>
      <td class='table table-bordered table-striped'>Construction Delayed</td>
      <td class='table table-bordered table-striped'>Construction Completed</td>
      <td class='table table-bordered table-striped'>Project Status</td>
      <td class='table table-bordered table-striped'>Review Project</td>
      <td class='table table-bordered table-striped'>Delete Project</td>
    </tr>
  </template>
